


<div class="row justify-content-center mt-3">
    <div class="col-12 col-md-4 mt-3">
        <div class="card shadow">
            <h2 class="text-center">Change Password</h2>
            <div class="card-body">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="password">New Password:</label>
                        <input id="password" formControlName="password" type="password">
                        <div
                            *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                            Password must be at least 8 characters.
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button mat-raised-button color="primary" type="submit" class="form-group btn btn-dark px-4"
                            [disabled]="resetPasswordForm.invalid">Reset Password</button><br>

                    </div>
                </form>

                <div *ngIf="successMessage">
                    {{ successMessage }}
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-4 mt-3">
        <div class="card shadow">
            <h2 class="text-center">Change Password</h2>
            <div class="card-body">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email"
                            placeholder="Enter your email" />
                        <div
                            *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid">
                            <small class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
                                Email is required.
                            </small>
                            <small class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
                                Please enter a valid email address.
                            </small>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button mat-raised-button color="primary" type="submit" class="form-group btn btn-dark px-4"
                            [disabled]="forgotPasswordForm.invalid">Send Reset Link</button><br>

                    </div>
                </form>

                <div *ngIf="successMessage">
                    {{ successMessage }}
                </div>

            </div>
        </div>
    </div>
</div> -->